<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
       
</head>    
<body>    
  <div class="log-form">
    <h1>Coding Competition 2</h1>
    
    <form action="/mailer" method="post">
      <input type="email" id="email" required name="useremail"  title="username" placeholder="Enter your Email" /><br/><br/>
      
      <button type="submit" class="btn">Send Email</button>
      
    </form>
  </div><!--end log form -->
</body>    
</html>