<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
    <link rel="stylesheet" type="text/css" href="style.css">    
</head>    
<body>    
  <div class="log-form">
    <h1>Coding Competition 2</h1>
    <h2>Enter your name and batch</h2>
    <form action="http://localhost:3333/login" method="post">
      <input type="text"name="username" value="Remya Jose" title="username" placeholder="Name" /><br/><br/>
      <input type="text" name="batch" value="NORKA B3" title="username" placeholder="Batch" /><br/><br/>
      <button type="submit" class="btn">submit</button>
      
    </form>
  </div><!--end log form -->
</body>    
</html>