<!DOCTYPE html>    
<html>    
<head>    
    <title>Login Form</title>    
      
</head>    
<body>    
  <div class="log-form">
    <h1>Coding Competition #2</h1>
    
    <h3>
     Welcome to coding competition #2 by <%=name%> of <%=batch%>.
    </h3>
    
      
   
  </div><!--end log form -->
</body>    
</html>